[submodule "frontend"]
	path = frontend
	url = https://github.com/C0demain/logflow-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/C0demain/logflow-backend.git
	branch = main
